<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>여행 성향 테스트</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<body>
    <div layout:fragment="content" class="mbti_test_main_container">
        <form th:action="@{/typeTest/question/{questionId}(questionId=${questionId})}" method="get" class="test_main_form">
            <h1 id="test_main_title">나의 여행 성향 테스트 하러 가기!</h1>
            <input id="btn_test_start" type="button" value="시작">
        </form>
        <script>
            // 초기 페이지 로드 시 플래그 초기화
            sessionStorage.removeItem('visitedResultPage');
        </script>
        <script src="/js/jQuery.js"></script>
        <script th:inline="javascript">
            $(document).ready(function(){
                console.log("JavaScript loaded successfully");

                $(document).on("click", "#btn_test_start", function() {
                    let questionId = 1;
                    location.href='/typeTest/question/'+questionId;
                });
            });
        </script>
    </div>
</body>
</html>