<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/showPost.css}">
    </th:block>
</head>
<body>
<div layout:fragment="content" class="content">
    <h1 th:text="${dto.postTitle}"></h1>
    <p th:text="${dto.users.userNickname}"></p>
    <div th:text="${dto.postContent}"></div>
    <a href="/community">목록</a>

    <form th:object="${comment}"
          th:action="@{/community/{postId}/comments/{commentId}(postId=${postId}, commentId=*{commentId})}"
          method="post" id="form" class="np-form">
        <div class="m-2">
            <label class="form-label">닉네임</label>
            <input type="text" class="form-control" name="commentNickname" th:field="*{commentNickname}" disabled>
        </div>
        <div class="m-2">
            <label class="form-label">댓글 내용</label>
            <textarea class="form-control" rows="3" name="commentContent" th:field="*{commentContent}"></textarea>
        </div>
        <input type="reset" value="취소">
        <input type="submit" value="수정">
    </form>
</div>
</body>
</html>
