<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .myPageMainContainer {
            text-align: center;
        }
        li {
        list-style-type: none;
        }

        /* 수직 메뉴바 스타일 */
        .nav {
            background-color: #343a40; /* 어두운 회색 */
            padding: 15px;
            border-radius: 5px; /* 모서리 둥글게 */
        }

        .nav-link {
            color: #d6d6d6; /* 메뉴 링크 색상 */
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="content">
    <div id="myPageMainContainer" class="myPageMainContainer">
        <h1>마이페이지 메인</h1>
        <!-- 수직 메뉴바 -->
        <div class="d-flex">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/myPage">마이페이지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myPage/info">내 정보 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myPage/list">나의 계획</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myPage/community">내 커뮤니티</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">건의함</a>
                </li>
            </ul>
            <div class="d-flex flex-column">
            <!--내 정보 요약-->
            <div class="ml-4">
                <h3>(이름)님 안녕하세요</h3>
                <hr>
                    <button><a th:href="@{/myPage/info}">수정</a></button>
                <div th:each="user : ${users}" th:object="${user}">
                    <div>
                        <label> 아이디 : </label>
                        <span id="userId" th:text="*{userId}"></span>
                    </div>
                    <div>
                        <label> 이름 : </label>
                        <span id="userName" th:text="*{userName}"></span>
                    </div>
                    <div>
                        <label> 닉네임 : </label>
                        <span id="userNickname" th:text="*{userNickname}"></span>
                    </div>
                    <div>
                        <label> 이메일 : </label>
                        <span id="userEmail" th:text="*{userEmail}"></span>
                    </div>
                </div>
            </div>

            <!-- 계획 리스트 요약 -->
            <div class="ml-4">
                <h3>나의 계획 리스트
                    <input type="radio" name="radio">
                    <input type="radio" name="radio"></h3>
                <hr>
                <ul>
                    <button><a th:href="@{/myPage/list}">수정</a></button>
                    <li>출발지</li>
                    <li>도착지</li>
                    <li>출발일</li>
                    <li>도착일</li>
                    <li>숙소 : 신라호텔</li>
                    <li>식당 : 김밥천국</li>
                </ul>
            </div>

            <!-- 커뮤니티 요약 -->
            <div class="ml-4">
                <h3>나의 커뮤니티 <a href="/community">커뮤니티로 이동</a></h3>
                <hr>
                <div th:each="post : ${posts}" th:object="${post}">
                    <label th:text="*{postDate}"> 2024 / 10 /23 </label>
                    <span><a href="" th:text="*{postTitle}" >부산여행기</a></span>
                </div>
            </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const userIdElement = document.getElementById('userId');
                const userNameElement = document.getElementById('userName');
                const userEmailElement = document.getElementById('userEmail');

                const userId = userIdElement.textContent;
                const userName = userIdElement.textContent;
                const userEmail = userIdElement.textContent;

                // 이메일을 @으로 구분지어 아이디 일부분 블라인드
                const emailParts = userEmail.split('@');
                const part1 = emailParts[0];
                const part2 = emailParts[1];
                const maskedPart = part1[0] + '*'.repeat(userId.length - 1);

                const maskedId = userId.substring(0, 2) + '*'.repeat(userId.length - 2);
                const maskedName = userName.substring(0, 2) + '*'.repeat(userName.length - 1);
                const maskedEmail = maskedPart + '@' + part2;

                userIdElement.textContent = maskedId;
                userNameElement.textContent = maskedName;
                userEmailElement.textContent = maskedEmail;
            });
        </script>
    </div>
</div>
</body>
</html>