<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="join">
    <form th:action="@{/joinProc}" method="post" name="joinForm">
        <h2>회원가입</h2>
        <div>
            <label for="userName">이름:</label>
            <input id="userName" type="text" name="username" class="form_control" placeholder="이름을 입력해주세요.">
        </div>
        <div>
            <label for="userId">아이디:</label>
            <input type="text" name="userId" id="userId" class="form-control" placeholder="영문,숫자 4~10자입니다.">
            <div id="dup-userId" class="input-feedback"></div>
        </div>
        <div>
            <label for="userPassword">비밀번호:</label>
            <input type="password" name="userPassword" id="userPassword" placeholder="비밀번호는 8~16자입니다.">
        </div>
        <div>
            <label for="re-password">비밀번호 확인:</label>
            <input type="password" name="re-password" id="re-password" placeholder="비밀번호가 일치하지 않습니다.">
            <div id="dup-password" class="input-feedback"></div>
        </div>
        <div>
            <label for="userEmail">이메일:</label>
            <input id="userEmail" type="email" name="userEmail" placeholder="이메일 형식에 맞게 입력하세요." class="form-control">
        </div>
        <div>
            <label for="userNickname">닉네임:</label>
            <input type="text" name="userNickname" id="userNickname" placeholder="한글,영문,숫자로 2~8자까지 입력 가능합니다.">
            <div id="dup-userNickname" class="input-feedback"></div>
        </div>

        <!--완료를 누르면 회원가입 성공, 회원가입 정보를 가지고 로그인으로 돌아감-->
        <input id="submitBtn" type="submit" name="submitBtn" value="완료"/>
        <!--회원가입 취소, 아무것도 없이 로그인 페이지로 돌아감-->
        <input type="button" onclick="location.href='/login'"  value="취소"/>
    </form>
</div>

<script>
$(document).ready(function() {
    let isValidUserId = false;
    let isValidPassword = false;
    let isValidNickname = false;

<!--아이디는 영문+숫자 4~10자리-->
    $("#userId").on("change", function(){
            let str = $("#userId").val();
            var regExp = /^[0-9a-zA-Z]{4,10}$/;
       if (!regExp.test(str)) {
        $("#dup-userId").text("아이디는 영문+숫자 4~10자입니다").css("color", "red");
        isValidUserId = false;
        return;
      }

<!--아이디 중복 확인 후 안내 메시지 출력-->
    $.ajax({
        url:`/checkJoin`, // 서버에서 아이디 중복 확인을 위한 url
        type:"GET",
        cache:false,
        data : { userId : str }, // 서버에 전달할 데이터
        success : function(data){
          if (data.success) {
            $("#dup-userId").text("사용 가능한 아이디입니다").css("color", "green");
            isValidUserId = true;
          } else {
            $("#dup-userId").text(data.msg).css("color", "red");
            isValidUserId = false;
          }
        }
      });
    });

<!--닉네임은 2~8자로, 중복을 허용하지 않는다-->
    $("#userNickname").on("change", function(){
      let str = $("#userNickname").val();
      var regExp = /^[ㄱ-ㅎ|가-힣|a-z|A-Z|0-9|]{2,8}$/;
      if (!regExp.test(str)) {
        $("#dup-userNickname").text("닉네임은 2~8자 입니다").css("color", "red");
        isValidNickname = false;
        return;
      }
<!--닉네임 중복 확인 후 안내 메시지 출력-->
    $.ajax({
        url:`/checkJoin`, // 서버에서 아이디 중복 확인을 위한 url
        type:"GET",
        cache:false,
        data : { userNick : str }, // 서버에 전달할 데이터
        success : function(data){
          if (data.success) {
            $("#dup-userNick").text("사용 가능한 닉네임입니다").css("color", "green");
            isValidUserId = true;
          } else {
            $("#dup-userNick").text(data.msg).css("color", "red");
            isValidUserId = false;
          }
        }
      });
    });

<!--비밀번호는 8~16자이고, 비밀번호 확인란과 똑같이 입력해야 한다.-->
    $("#userPassword").on("change", function(){
      let pass1 = $("#userPassword").val();
      var regExp = /^[a-zA-Z\d`~!@#$%^&*()-_=+]{8,16}$/;

      if (!regExp.test(pass1)) {
        $("#dup-password").text("비밀번호는 8~16자입니다").css("color", "red");
        isValidPassword = false;
        return;
      }
    });
    $("#re-password").on("change", function(){
      let pass1 = $("#userPassword").val();
      let pass2 = $("#re-password").val();
      var regExp = /^[a-zA-Z\d`~!@#$%^&*()-_=+]{8,16}$/;

      if (!regExp.test(pass2)) {
        $("#dup-password").text("비밀번호는 8~16자입니다").css("color", "red");
        isValidPassword = false;
        return;
      }
      if (pass1 == pass2) {
        $("#dup-password").text("비밀번호와 일치합니다");
        $("#dup-password").css("color", "green");
        isValidPassword = true;
      }
      else {
        $("#dup-password").text("비밀번호와 다릅니다");
        $("#dup-password").css("color", "red");
        isValidPassword = false;
      }
   });

<!--회원가입 완료-->
      $("#submitBtn").click(function() {
      if (!isValidUserId) {
            alert("아이디를 확인해주세요");
            return;
            }
      if (!isValidPassword) {
            alert("비밀번호를 확인해주세요");
            return;
            }
      if (!isValidNickname) {
          alert("닉네임을 확인해주세요");
          return;
      }

    let data = {
        "userId": $("#userId").val(),
        "userPassword": $("#userPassword").val(),
        "userNickname": $("#userNickname").val(),
        "userName": $("#userName").val(),
        "userEmail": $("#userEmail").val()
      };

   $.ajax({
        url: `/checkJoinProc`,
        type:"POST",
        contentType: "application/json",
        dataType: "json",
        data:JSON.stringify(data),
        cache:false,
        success : function(data){
          if (data.success) {
            alert("회원가입 성공");
            location.href = "/login"; // 회원가입 성공 시 로그인 페이지로 이동
          } else {
            alert(data.msg);
          }
        },
        error: function() {
            alert("회원가입 중 오류가 발생했습니다.");
        }
      });
   });
});
</script>
</body>
</html>