<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title>메인</title>
	<th:block layout:fragment="css"></th:block>
	<th:block layout:fragment="script"></th:block>
	<link rel="stylesheet" th:href="@{css/style.css}">
	<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=6ebcca49838b45dd8d299c3c5afed9d1&libraries=services"></script>
	<script th:src="@{js/jQuery.js}"></script>
</head>

<body>
<div layout:fragment="content" class="content">
	<div class="main">
		<h3>여행지 검색 하기</h3>
		<div class="map">
			<div class="map_search_box">
				<input type="text" id="keyword" size="15" placeholder="검색어를 입력하세요.">
				<button id="searchBtn">검색</button> <!--onclick="main()"-->
			</div>
			<div class="map_section">
				<div class="map_box1">
					<div id="map"></div>
					<div id="list"></div>
				</div>
				<div class="map_box2">
					<div id="my-list"></div>
				</div>
			</div>
<!--		</div>-->
		<div id="placeList">
<!--			<li th:each="place : ${places}">-->
<!--				<p th:text="${place.placeName}"></p>-->
<!--				<p th:text="${place.addressName}"></p>-->
<!--				<button onclick="addToMyList(/* 데이터 추가 함수 */)">여행 추가</button>-->
<!--			</li>-->
		</div>
		<script th:src="@{js/main.js}"></script>
	</div>
</div>
</body>
</html>